<div class="col-md-10 col-md-offset-1">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">订单管理</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover datatable">
                <thead>
                    <tr>
                        <th><b>订单编号</b></th>
                        <th><b>买家</b></th>
                        <th><b>联系电话</b></th>
                        <th><b>地址</b></th>
                        <th><b>商品</b></th>
                        <th><b>总价</b></th>
                        <th><b>时间</b></th>
                        <th><b>操作</b></th>
                    </tr>
                </thead>
                <tbody>
                    <% @orders.each do |order|%>
                        <tr>
                            <td>
                                <%= link_to order.id, edit_admin_order_path(order)%>
                            </td>
                            <td>
                                <%= order.buyer%>
                            </td>
                            <td>
                                <%= order.phone%>
                            </td>
                            <td>
                                <%= order.address%>
                            </td>
                            <td>
                                <%= link_to "查看",show_products_admin_order_path(order)%>
                            </td>
                            <td>
                                <%= order.total%>
                            </td>
                            <td>
                                <%= order.created_at.to_s(:db)%>
                            </td>
                            <td>
                                <%= link_to '编辑', edit_admin_order_path(order)%>,
                                    <%= link_to '删除', admin_order_path(order), method: :delete%>
                            </td>
                        </tr>
                        <%end%>
                </tbody>
            </table>
        </div>
    </div>
    <!--panel-->
    <hr>
    <h1 align="center">订单统计信息</h1>
    <div class="normal_border">
        <div>今日销售额：
            <%= @today_sales%>
        </div>
        <div>本周销售额：
            <%= @week_sales%>
        </div>
        <div>本月销售额：
            <%= @month_sales%>
        </div>
        <div>年度销售额：
            <%= @year_sales%>
        </div>
    </div>
</div>


