<div class="col-md-6">
    <div class="normal_border">
        <h3>基本资料</h3>
        <div>昵称：<strong><%= current_user.nick_name%></strong></div>
        <div>email：<strong><%= current_user.email%></strong></div>
        <div>账户余额：<div class="inline red_color"><%= current_user.money%></div>元</div>
        <div class="avatar pull-right">
            <%= image_tag(current_user.check_avatar,size:"70x70") %>
        </div>
        <br>
        <%= simple_form_for current_user do |f|%>
            <%= f.input :avatar, label: "更换头像"%>
                <div><strong>性别</strong></div>
                <%= f.collection_radio_buttons :sex, [["male", '男'] ,["female", '女']], :first, :last%>
                    <br>
                    <%= f.input :age, label: "年龄"%>
                        <%= f.submit '更改', class: "btn btn-info"%>
                            <%end%>
                        
                                
    </div>
</div>

<div class="col-md-5">
 <div class="row">
   <div class="normal_border">
       <% if current_user.payment_password.nil?%>
        <h3>设置新支付密码</h3>
         <%= simple_form_for current_user,url: set_payment_password_user_path,method: :post do |f|%>
            <%= f.input :payment_password_handler,required: true,label: "支付密码",hint: "六位数字"%>
            <%= f.input :payment_password_handler_confirmation,required: true,label: "再次输入支付密码"%>
            <%= f.submit "提交",class: "btn btn-secondary"%>
         <%end%>

       <%else%>   
        <h3>更改支付密码</h3>
        <%= simple_form_for current_user,url: update_payment_password_user_path do |f|%>
          <%= f.input :old_payment_password,required: true,label: "旧支付密码"%>
           <%= f.input :payment_password_handler,required: true,hint: ("六位数字"),label: "新支付密码"%> 
           <%= f.input :payment_password_handler_confirmation,required: true,label: "再次输入新支付密码"%>
           <%= f.submit "修改",class: "btn btn-secondary"%>
        <%end%>
       <%end%>
   </div>
 </div>

 <div class="row">
  <div class="normal_border">
     <h3>管理收货信息</h3>
                                <hr>
                                <%= simple_form_for current_user do |f|%>
                                    <%= f.input :real_name,label: "收货人姓名"%>
                                        <%= f.input :phone,label: "联系电话号码"%>
                                            <%= f.input :address,label: "收货地址(街道)"%>
                                                <div class="info">
                                                    <div>
                                                        <%= f.input :s_province, as: :select, input_html: {id: "s_province"},label: "省份"%>
                                                            <%= f.input :s_city, as: :select, input_html: {id: "s_city"},label: "城市"%>
                                                                <%= f.input :s_county, as: :select, input_html: {id: "s_county"},label: "属区"%>
                                                    </div>
                                                    <div id="show"></div>
                                                </div>
                                                <%= f.submit '修改', class: "btn btn-lg btn-primary"%>
                                                    <%end%>
  </div>
 </div>

</div>
