<% if @orders.any?%>
<div class="col-md-10 col-md-offset-1">
    <div class="col-md-7">
        <div class="col-md-6">
            <strong>商品信息</strong>
        </div>
        <div class="col-md-3">
            <strong>单价(元)</strong>
        </div>
        <div class="col-md-3">
            <strong>数量</strong>
        </div>
    </div>
    <div class="col-md-2">
        <strong>实付款</strong>
    </div>
    <div class="col-md-2">
        <strong>交易状态</strong>
    </div>
    <div class="col-md-1">
    </div>
    <br>
    <% @orders.each do |order|%>
        <div class="panel panel-info">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <% order.items.each do |i|%>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-3">
                                <%= link_to image_tag(i.product.picture, size: "50x50"), product_path(i.product)%>
                            </div>
                            <div class="col-md-3">
                                <%=link_to i.product.name, product_path(i.product)%>
                            </div>
                            <div class="col-md-3">
                                <%= i.product.price%>
                            </div>
                            <div class="col-md-3">
                                <%= i.quantity%>
                            </div>
                        </div>
                       
                    </div>
                    <%end%>
                        <div class="col-md-2">
                            <%= order.total%>元</div>
                        <div class="col-md-2">
                            <div>
                              <% case order.status %>
                              <% when "not_paid"%>
                               <div>未付款</div>
                               <%= link_to '立即付款',payment_order_path(order),class: "btn btn-sm btn-danger"%> 

                               <% when "paid"%>
                                <div>已付款</div>
                                <div>等待发货</div>

                                <% when "sent"%>
                                <div class="order_<%= order.id%>">
                                 <div>已发货</div>
                                 <%= link_to '确认收货',confirm_order_path(order),method: :patch,remote: true,class: "btn btn-sm btn-primary"%>
                                 </div>

                                 <% when "confirm"%>
                                 <div>交易完成</div>

                                 <% when "closed"%>
                                 <div>交易关闭</div>
                              <%end%>
                            </div>
                            
                        </div>
                        <div class="col-md-1"><%= link_to '订单详情',order_path(order)%></div>
            </div>
        </div>
        <%end%>
            <%= will_paginate @orders %>
</div>
<% else%>
 <div class="notify">没有任何订单记录</div>
<%end%>