<div class="normal_border">
<h2>订单详情</h2>
<div>收货地址：<%= @order.address%></div>
<div>联系电话：<%= @order.phone%></div>
<div>收货人姓名：<%= @order.buyer%></div>
<div>总计：<div class="inline price"><%= @order.total%></div>元</div>
</div>


<%= form_tag paid_order_path do %>
 <%= password_field_tag :payment_password%>
 <%= submit_tag "确认"%>
<%end%>