
<div class="col-md-6 col-md-offset-3">
    <div class="normal_border">
        <h2> 订单信息</h2>
        <hr>
        <div>收货地址: <strong><%= @order.address%></strong></div>
        <div>收货人: <strong><%= @order.buyer%></strong></div>
        <div>联系号码: <strong><%= @order.phone%></strong></div>
        <hr>
        <h3>订单详情</h3>
        <div>订单编号: <strong><%=@order.id%></strong></div>
        <div>订单日期：<strong><%= format_time(@order.created_at)%></strong></div>

        <strong>付款截止时间:</strong>
        <div id="timer" class="inline">
            <span class="days"></span>天
            <span class="hours"></span>小时
            <span class="minutes"></span>分
            <span class="seconds"></span>秒
        </div>
            </div>
        </div>

<script type="text/javascript">
 var deadline = "<%= @order.created_at + 7.days%>";
 initializeClock('timer', deadline);

</script>
