<ul class="nav nav-tabs navbar-fixed-top nav-style">
    <li>
     <%= link_to (image_tag "logo.png",size: "50x35"),root_path,class: "navbar-brand"%>
    </li>
    <li class="nav-link">
        <%= link_to '首页', root_path, 'data-no-turbolink' => true%>
    </li>

    <li>
        <%= form_tag search_path, method: :get,class: "form-inline navbar-form" do %>
                            <%= text_field_tag :query, params[:query], class: "form-control ", placeholder: "搜索商品名称"%>
                                <button type="submit" class="btn  btn-secondary">
                                    <i class="fa fa-search"></i> 搜索
                                </button>
                                <%end%>
                           
    </li>
    <% if user_signed_in?%>
        <li class="nav-link">
            <% if current_user.has_role?("admin")%>
                <%= link_to '后台', admin_root_path, 'data-no-turbolink' => true%>
                    <%end%>
        </li>
        <li class="pull-right nav-link">
            <%= link_to '<i class="fa fa-star"></i> 收藏夹'.html_safe, marks_path%></li>
        <li class="pull-right nav-link" id="item_count">
            <%= link_to cart_path(current_user) do %>
                <i class="fa fa-shopping-cart"></i> 购物车(
                <%= current_user.cart.items.count %>)
                    <%end%>
        </li>
        <li class="pull-right nav-link">
            <%= link_to'<i class="fa fa-rocket"></i> 积分抽奖'.html_safe, awards_path%></li>
        <li class="nav-link dropdown pull-right" data-no-turbolink="true">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <%= current_user.nick_name%>
            </a>
            <div class="dropdown-menu">
                <%= link_to '已买商品', orders_path,class: "dropdown-item"%>
                    <%= link_to '完善资料', edit_user_path(current_user),class: "dropdown-item"%>
                        <%= link_to '我的优惠卷', coupons_path,class: "dropdown-item"%>
                            <%= link_to '<i class="fa fa-sign-out"></i> 退出'.html_safe, destroy_user_session_path,class: "dropdown-item",method: :delete%>
            </div>
        </li>
        <%=link_to image_tag(current_user.check_avatar, size: "50x50",class: "pull-right img-rounded"), edit_user_path(current_user)%>
            <%else%>
                <li class="pull-right nav-link">
                    <%= link_to '注册', new_user_registration_path%>
                </li>
                <li class="pull-right nav-link omniauth-dropdown">
                    <%= link_to '登录', new_user_session_path,class: "hoverdown"%>
                    <div class="omniauth-content">

                         <%= link_to user_omniauth_authorize_path(:github) do %>
                          <span class="fa-stack fa-lg">
                             <i class="fa fa-circle fa-stack-2x"></i>
                             <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                          </span>github
                         <%end%>

                        <%= link_to user_omniauth_authorize_path(:twitter) do %>
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>twitter
                        <%end%>

                        <%= link_to user_omniauth_authorize_path(:facebook) do %>
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>facebook
                        <%end%>
                    </div>
                </li>
                <%end%>
</ul>
